<div *ngIf="docReady">
  <mat-horizontal-stepper linear #stepper>
    <mat-step *ngFor="let page of pages">
      <h2 class="mat_display-2">{{page.page}}</h2>
      <p class="mat-heading-2">{{page.description}}</p>
      <div class="singleq" *ngFor="let question of questions[page.page]">
        <p>{{question.questionLabel}}</p>

        <div *ngIf="question.questionType == 'textInput'">
          <mat-form-field>
            <mat-label>{{question.questionLabel}}</mat-label>
              <input matInput  placeholder="placeholder" (blur)="updateTextInput($event,question)">
            </mat-form-field>
        </div>
        
        <div *ngIf="question.questionType == 'select'">
          <mat-form-field appearance="fill">
            <mat-label>{{question.questionLabel}}</mat-label>
            <mat-select (selectionChange)="radioChange($event, question)">
              <mat-option *ngFor="let option of options[question.questionValue]" [value]="option.optionValue">
                {{option.optionLabel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="question.questionType == 'radio'">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
						(change)="radioChange($event, question)"
            class="example-radio-group">
            <mat-radio-button class="radiobutton example-radio-button" *ngFor="let option of options[question.questionValue]" [value]="option.optionValue">
              {{option.optionLabel}}
            </mat-radio-button>
          </mat-radio-group>
				</div>

        <div *ngIf="question.questionType == 'slider'">
          <span class="text-small">{{question.min}}</span>
		    	<mat-slider
            thumbLabel
						class="angslider"
            [displayWith]="formatLabel"
            (change)="radioChange($event, question)"
            [min] = "question.min"
            [max]="question.max">
          </mat-slider>	
          <span class="text-small">{{question.max}}</span>
				</div>

        <div *ngIf="question.questionType == 'checkbox'">
          <mat-list>
            <mat-list-item *ngFor="let option of options[question.questionValue]">
              <mat-checkbox
              [(ngModel)]="option.checked"
              [labelPosition]="'after'"
              (change)="checkbox_change(option)"
              >{{ option.optionLabel }}</mat-checkbox>
            </mat-list-item>
          </mat-list>

				</div>




      </div>
      <div>
        <button color="primary" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
  <!--
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  -->

