.singleq {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.radiobutton {
  padding-right: 10px;
}

.angslider {
	width: 300px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
